body{
  background-image: url('https://github.com/KebinCo/bab/blob/main/radiator.png?raw=true');
  background-height: 100%;
}

h1{
color: red;
font-size: 70px;
}


p {
font-size: 30px;
color: orange;
}
